@{
    ViewData["Title"] = "Index";
}
@model List<helo.Models.Entities.Employee>


<div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="mb-0">Employee List</h1>
    <a href="@Url.Action("Add", "Employee")" class="btn btn-primary">Add Employee</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Date Of Birth</th>
            <th>Department</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.DateofBirth.ToString("dd-MM-yyyy")</td>
                <td>@item.Department</td>
                <td>
                    <a href="@Url.Action("View", "Employee", new { id = item.id })" class="btn btn-info">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>
